@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 5rem;
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 3rem;
  }
}

.container {
  position: relative;
  background-color: #F7F7F7;
  z-index: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #fff;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-first__main {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__main {
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .title-first__main {
    font-size: 4.2rem;
  }
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  margin-bottom: 5rem;
  animation-name: rightToLeft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-first__secondary {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__secondary {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-first__secondary {
    font-size: 3.7rem;
  }
}

.title-secondary {
  text-align: center;
  display: inline-block;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-secondary {
    font-size: 2.8rem;
    letter-spacing: 0.8rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-secondary {
    letter-spacing: 0.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-secondary {
    font-size: 3.3rem;
  }
}
.title-secondary_hover:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #fff;
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 1240px) {
  .title-third {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-third {
    font-size: 2.4rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
}
@media only screen and (max-width: 1240px) {
  .paragraph {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .paragraph {
    font-size: 2rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #777;
  padding: 1.5rem 2.1rem;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
  transition: all 0.3s ease;
  position: relative;
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
  border: none;
}
@media only screen and (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.7rem;
    padding: 1.3rem 1.9rem;
    letter-spacing: 0.3rem;
  }
}
@media only screen and (max-width: 600px) {
  .btn, .btn:link, .btn:visited {
    font-size: 2.5rem;
  }
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease;
}
.btn_animated {
  animation: btnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}
.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #BA8554;
  color: #fff;
}
.btn_brown::after {
  background-color: #BA8554;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #A14F03;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #A14F03;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 600px) {
  .btn-text:link, .btn-text:visited {
    font-size: 2.2rem;
  }
}
.btn-text:hover {
  background-color: #A14F03;
  color: #fff;
  transform: translateY(-0.4rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
@media only screen and (max-width: 900px) {
  .composition {
    text-align: center;
  }
}
.composition__photo {
  width: 55%;
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: all 0.3s ease;
  z-index: 0;
  outline-offset: 1rem;
}
@media only screen and (max-width: 900px) {
  .composition__photo {
    position: relative;
  }
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
@media only screen and (max-width: 900px) {
  .composition__photo_n1 {
    left: -11rem;
  }
}
.composition__photo_n2 {
  top: 9rem;
  left: 22rem;
}
@media only screen and (max-width: 1240px) {
  .composition__photo_n2 {
    top: 7rem;
    left: 18rem;
  }
}
@media only screen and (max-width: 900px) {
  .composition__photo_n2 {
    top: -12rem;
    left: 11rem;
  }
}
.composition__photo_n3 {
  left: 2rem;
  top: 16rem;
}
@media only screen and (max-width: 1240px) {
  .composition__photo_n3 {
    top: 12rem;
  }
}
@media only screen and (max-width: 900px) {
  .composition__photo_n3 {
    top: -26rem;
    left: -9rem;
  }
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 1;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.adventure-card {
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.2s ease;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

.tour-card {
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .tour-card {
    height: auto;
    max-width: 50rem;
    margin-left: calc((100% - 50rem) / 2);
  }
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card {
    height: 80rem;
  }
}
.tour-card__side {
  height: 52rem;
  width: 100%;
  transition: all 0.7s ease-out;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (max-width: 1240px) {
  .tour-card__side {
    height: 45rem;
  }
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side {
    position: static;
    border-radius: 0;
  }
}
.tour-card__side_front {
  background: #fff;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side_front {
    margin-bottom: -8.3rem;
    height: 54rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
.tour-card__side_back {
  transform: rotateY(180deg);
  background: linear-gradient(120deg, #BA8554 3.65%, #A14F03 100%);
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side_back {
    transform: rotateY(0deg);
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    height: 30rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.tour-card:hover .tour-card__side_front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card:hover .tour-card__side_front {
    transform: rotateY(0deg);
  }
}
.tour-card:hover .tour-card__side_back {
  transform: rotateY(0deg);
}
.tour-card__img {
  height: 24.5rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media only screen and (max-width: 1240px) {
  .tour-card__img {
    height: 22.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .tour-card__img {
    height: 25.5rem;
  }
}
.tour-card__img_1 {
  background: #BA8554 url(../img/tour-1.jpg) center/cover no-repeat;
}
.tour-card__img_2 {
  background: #BA8554 url(../img/tour-2.jpg) center/cover no-repeat;
}
.tour-card__img_3 {
  background: #BA8554 url(../img/tour-3.jpg) center/cover no-repeat;
}
.tour-card__title {
  color: #fff;
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 18.5rem;
  right: 0;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__title {
    top: 16.5rem;
  }
}
.tour-card__span {
  background: linear-gradient(90deg, #BA8554 3.65%, #A14F03 100%);
  padding: 1rem 2rem 0.3rem 2rem;
}
.tour-card__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0;
}
.tour-card__description ul {
  list-style: none;
  position: absolute;
  top: 29rem;
  text-align: center;
}
@media only screen and (max-width: 1240px) {
  .tour-card__description ul {
    top: 27.5rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 900px) {
  .tour-card__description ul {
    font-size: 1.8rem;
    width: 70%;
    left: 8rem;
  }
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__description ul {
    top: 25.5rem;
  }
}
.tour-card__description ul li {
  display: inline-block;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #777;
  border-bottom: 0.1rem solid #777;
}
.tour-card__description ul li:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1240px) {
  .tour-card__description ul li:not(:last-child) {
    margin-bottom: 1.7rem;
  }
}
.tour-card__backSide-box {
  padding: 10rem 0;
}
@media only screen and (max-width: 1240px) {
  .tour-card__backSide-box {
    padding: 7rem 0;
  }
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__backSide-box {
    padding: 5rem 0;
  }
}
.tour-card__text {
  letter-spacing: 0.2rem;
  color: #fff;
  margin-bottom: 9rem;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__text {
    margin-bottom: 4rem;
  }
}
.tour-card__text_1 {
  font-weight: 300;
}
@media only screen and (max-width: 900px) {
  .tour-card__text_1 {
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
  }
}
.tour-card__text_2 {
  font-weight: 500;
  font-size: 6rem;
}

.feedback-card {
  position: relative;
  width: 75%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 5rem;
  transform: skewX(330deg);
}
@media only screen and (max-width: 1240px) {
  .feedback-card {
    padding: 3rem;
    width: 82%;
  }
}
@media only screen and (max-width: 900px) {
  .feedback-card {
    transform: skewX(350deg);
  }
}
.feedback-card > * {
  transform: skewX(-330deg);
}
@media only screen and (max-width: 900px) {
  .feedback-card > * {
    transform: skewX(-350deg);
  }
}
.feedback-card__img {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
}
@media only screen and (max-width: 1240px) {
  .feedback-card__img {
    width: 14rem;
    height: 14rem;
  }
}
@media only screen and (max-width: 900px) {
  .feedback-card__img {
    float: none;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}
.feedback-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem);
}
@media only screen and (max-width: 900px) {
  .feedback-card__box {
    transform: skewX(350deg);
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .feedback-card__box > * {
    transform: skewX(-350deg);
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.6) 35.94%, rgba(0, 0, 0, 0.6));
  z-index: -1;
}

.book {
  height: 50rem;
  width: 100%;
  padding: 5rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, rgba(186, 133, 84, 0.1) 55%, rgba(161, 79, 3, 0.1) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .book {
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 505%, rgba(186, 133, 84, 0.1) 55%, rgba(161, 79, 3, 0.1) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  }
}
@media only screen and (max-width: 600px) {
  .book {
    padding: 3rem;
    height: 59rem;
  }
}

@media only screen and (max-width: 900px) {
  .form {
    text-align: center;
  }
}
.form__group {
  position: relative;
  margin-bottom: 5rem;
}
.form__group-radio {
  display: block;
  margin-bottom: 3.4rem;
}
.form__input {
  letter-spacing: 0.2rem;
  color: #000;
  padding: 1.8rem 2.2rem;
  width: 30%;
  background-color: #fff;
  border: none;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.3rem 0.3rem 0 0;
}
@media only screen and (max-width: 1240px) {
  .form__input {
    width: 45%;
  }
}
@media only screen and (max-width: 900px) {
  .form__input {
    width: 85%;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 600px) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 0.2rem solid #66D763;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 0.2rem solid #D76363;
}
.form__input-radio {
  opacity: 0;
  cursor: pointer;
  margin-right: 0.5rem;
}
.form__input-radio:first-child {
  margin-left: 0.5rem;
}
.form__input-radio:last-of-type {
  margin-left: 2.4rem;
}
@media only screen and (max-width: 1240px) {
  .form__input-radio:last-of-type {
    display: block;
  }
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__label {
  position: absolute;
  top: 6.5rem;
  left: 1.5rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 1240px) {
  .form__label {
    width: 45%;
  }
}
@media only screen and (max-width: 900px) {
  .form__label {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .form__label {
    width: 100%;
    font-size: 2.4rem;
    top: 8.5rem;
    left: 0;
  }
}
.form__label-radio {
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .form__label-radio {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1240px) {
  .form__label-radio:last-child {
    margin-left: 28px;
  }
}

.radio-button {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  background-color: rgba(186, 133, 84, 0);
  outline: 0.4rem solid #BA8554;
  outline-offset: 0.2rem;
  position: absolute;
  top: 0.3rem;
  left: -2.5rem;
}

.form__input-radio:checked + .form__label-radio > .radio-button {
  background-color: #BA8554;
}

.section-about {
  padding-top: 8rem;
  padding-bottom: 2.4rem;
}
@media only screen and (max-width: 900px) {
  .section-about {
    margin-bottom: -24rem;
  }
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/adventure-bg.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}
@media only screen and (max-width: 1240px) {
  .section-adventure {
    padding: 19rem 0;
  }
}
@media only screen and (max-width: 900px) {
  .section-adventure {
    padding: 11rem 0;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}

.section-tour {
  padding-top: 8rem;
  margin-bottom: 8.5rem;
}

.section-feedback {
  padding: 8rem 0;
  position: relative;
}

.section-book {
  padding: 8rem;
  background: linear-gradient(90deg, #BA8554 3.65%, #A14F03 100%);
}
@media only screen and (max-width: 900px) {
  .section-book {
    padding: 4rem;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 88.1rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 55rem;
  }
}
@media only screen and (max-width: 600px) {
  .row {
    max-width: 94%;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 6rem) / 3);
  }
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 9rem) / 4);
  }
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 3rem;
  }
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media only screen and (max-width: 900px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 1240px) {
  .header__box {
    top: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .header__box {
    top: 45%;
  }
}

.footer {
  background: #333;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.footer__logo {
  width: 12rem;
  height: 100%;
}
.footer__list > .footer__item {
  list-style: none;
  display: inline-block;
}
.footer__list > .footer__item:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 1240px) {
  .footer__list > .footer__item:not(:last-child) {
    margin-right: 3rem;
  }
}
.footer__link:link, .footer__link:visited {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 900px) {
  .footer__link:link, .footer__link:visited {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer__link:link, .footer__link:visited {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #BA8554;
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  cursor: pointer;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 10rem;
  right: 10rem;
  z-index: 200;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .navigation__button {
    top: 8rem;
    right: 8rem;
  }
}
.navigation__background {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  top: 11rem;
  right: 11rem;
  z-index: 100;
  transition: all 0.7s ease-out;
}
@media only screen and (max-width: 600px) {
  .navigation__background {
    top: 9rem;
    right: 9rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 0;
  width: 0%;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 6rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s ease-out;
}
.navigation__link:link:hover, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:active {
  background-position: 100%;
  color: #A14F03;
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(110);
}
.navigation__toggle:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.4rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  background: #000;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
@media only screen and (max-width: 600px) {
  .navigation__button:hover .navigation__icon::before {
    top: -0.8rem;
  }
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
@media only screen and (max-width: 600px) {
  .navigation__button:hover .navigation__icon::after {
    top: 0.8rem;
  }
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}/*# sourceMappingURL=main.css.map */